<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <title>{% block title %}Hitube{% endblock %}</title>
    {% block head%}{% endblock%}
</head>
<body>
    {% include 'playlist/includes/header.html' %}

    <main class="my-4" style="min-height: 100vh;">
        {% block content %}{% endblock %}
    </main>

    {% include 'playlist/includes/footer.html' %}
</body>
</html>